td a{
text-decoration: none;
color: white;
}
img{
  border-radius: 15px;
}
.gallery{
    display:flex;
    justify-content:center;
}

.posts {
    margin-top: 50px;
    font-size: 20px;
}

.post {
    width: 250px;
    border: 1px solid blue;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}
