td a{
text-decoration: none;
color:white;
}
img{
  border-radius: 15px;
width:1000px;
  heidght:500px;
}
.gallery{
    display:flex;
    justify-content:center;
}
h1{
  border-radius:8px;
}
iframe{
  position:center;
}

.son{
  text-align:center;
   text-decoration: none;
    background-color: navy;
    border-radius: 10px;
    padding: 20px;
    color: lightblue;
    font-size: 20px;
  width:200px;
  heidght:100px;
}

.son::before {
    content: url("https://mars.algoritmika.org/uploads/2021/03/click-38743_1280%201_0_1614962641.png");
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 0;
}

.son:hover::before {
    content: url("https://mars.algoritmika.org/uploads/2021/03/click-38743_1280%201_0_1614962641.png");
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 1;
}

.daad{
  text-align:center;
}
