td a{
text-decoration: none;
color:white;
}
img{
  border-radius: 15px;
width:1000px;
  heidght:500px;
}
.gallery{
    display:flex;
    justify-content:center;
}
h1{
  border-radius:8px;
}
iframe{
  position:center;
}

.son{
   text-decoration: none;
    background-color: navy;
    border-radius: 10px;
    padding: 20px;
    color: lightblue;
    font-size: 20px;
  width:500px;
  heidght:100px;
}

.son::before {
    content: url("https://c0.klipartz.com/pngpicture/999/933/gratis-png-ilustracion-de-guante-blanco-mickey-mouse-epica-mickey-computadora-puntero-del-mouse-macintosh-cursor-del-mouse.png");
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 0;
}

.son:hover::before {
    content: url("https://c0.klipartz.com/pngpicture/999/933/gratis-png-ilustracion-de-guante-blanco-mickey-mouse-epica-mickey-computadora-puntero-del-mouse-macintosh-cursor-del-mouse.png");
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 1;
}
